<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
    <h2>Variable</h2>
    <p><%= tagLine  %></p>
  </header>

  <main>
    <div class="jumbotron">
      <h2>Loop</h2>
      <% drinks.forEach(function(drink) { %>
          <li><%= drink.name %> - <%= drink.drunkness %></li>
        <% }); %>
      <h1>This is truly amazing!</h1>
      <p>Welcome to EJS templating. You are so lucky!!</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
